{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

    {% block stylesheets %}
        <style>
            html,
            body {
                height: 100%;
            }

            #login {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-align: center;
                -ms-flex-pack: center;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                background-color: #f5f5f5;
                height: 100%;
            }
            .form-signin {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: 0 auto;
            }
            .form-signin .checkbox {
                font-weight: 400;
            }
            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }
            .form-signin .form-control:focus {
                z-index: 2;
            }
            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            #login a {
                color: black;
                border: 1px solid #dedede;
                padding: 10px;
                background-color: #CBDE9B;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
    {% endblock %}

{% block body %}
    <div id="login">
        <form method="post" class="form-signin text-center">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Je bent aangemeld als  {{ app.user.FirstName }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <img class="mb-4" src="/img/CG_Logo.png" alt="Logo" width="100" height="100">
            <h1 class="h3 mb-3 font-weight-normal">Vul hier je e-mailadres en wachtwoord in</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="E-mailadres" class="form-control" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Wachtwoord" class="form-control" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Inloggen
            </button>
        </form>
    </div>

{% endblock %}

