{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="banner">
        <div class="header">
            <div id="logo"></div>
        </div>
    </section>

    <section id="meer">
        <div class="jumbotron container-fluid overgouda-jumbo">
            <div class="row">
                <div class="col-sm-12 col-lg-11  mx-auto">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            {% if reads[0] is defined %}
                                <h2 class="display-4 pb-4">{{ reads[0].title }} {% if app.user %}<a
                                        href="{{ path('read_edit', {'id': reads[0].id}) }}"><i
                                                    class="fas fa-pen text-black-50"></i>
                                        </a>{% endif %}</h2>
                                <p class="lead">{{ reads[0].body | raw }}</p>
                            {% else %}
                                <h2 class="display-4 pb-4">Lorem ipsum {% if app.user %}<a
                                        href="{{ path('read_new') }}"><i
                                                    class="fas fa-plus"></i></a>{% endif %}</h2>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                    commodo
                                    ligula eget
                                    dolor. Aenean massa. Cum sociis
                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                    quam felis,
                                    ultricies nec, pellentesque eu,
                                    pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                                    vel,
                                    aliquet
                                    nec, vulputate eget, arcu. In enim
                                    justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                                    pede
                                    mollis
                                    pretium.</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-12 col-lg-6 text-center">
                            <div class="embed-responsive embed-responsive-16by9">
                                {#<iframe class="embed-responsive-item" src="/img/Promo%20-%20Campus%20Gouda.mp4?autostart=0"></iframe>#}
                                <video id="course-video" width="100%" class="embed-responsive-item" controls>
                                    <source src="/img/Promo%20-%20Campus%20Gouda.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container-fluid">
            <div class="row pt-lg-5">
                <div class="col-11 mx-auto">
                    <div class="card-deck">
                        {% for post in posts %}
                            <div class="card">
                                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="card-img-top"
                                     alt="{{ post.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.body|raw }}</p> {#|truncate(250, true, "read_more_link")#}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><a href="/viewpost/{{ post.id }}" class="btn btn-green">Meer
                                            lezen</a> {% if app.user %}<a
                                            href="{{ path('blog_edit', {'id': post.id}) }}"><i
                                                        class="fas fa-pen text-black-50"></i>
                                            </a>{% endif %}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if app.user %}
                        <h4 class="text-black-50 text-right"><a href="{{ path('blog_new') }}"><i class="fas fa-plus text-black-50"></i></a> Nieuw bericht!</h4>
                    {% endif %}
                    <a href="{{ path('blog_index') }}" class="text-dark"><button type="button" class="btn btn-sm btn-outline-secondary btn-primary">Archief</button></a>
                </div>
            </div>
        </div>


        {#
                <div class="container-fluid">
                    <div class="row pt-lg-5">
                        <div class="col-10 mx-auto">
                            <div class="blog card-columns">
                                {% for post in posts %}
                                    <div class="post card">
                                        <div class="post-outer">
                                            <div class="post-inner">
                                                <div class="post-head">
                                                    <h3>{{ post.title }}</h3>
                                                </div>
                                                <div class="post-body">
                                                    <img src="{{ vich_uploader_asset(post, 'imageFile') }}"
                                                         class="card-img-top img-responsive img-thumbnail">
                                                    {{ post.body|striptags|slice(0, 250) }}
                                                </div>
                                                <div class="post-footer">
                                                    <a href="/viewpost/{{ post.id }}" class="btn btn-primary">Meer
                                                        lezen</a> {% if app.user %}<a
                                                        href="{{ path('blog_edit', {'id': post.id}) }}"><i
                                                                    class="fas fa-pen text-black-50"></i>
                                                        </a>{% endif %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        #}
    </section>

    <section id="overgouda" class="py-5">
        <div class="container-fluid">
            <div class="row info-margin m-auto w-75">
                {% for item in items %}
                    <div class="col-sm-12 col-lg-6 overGouda-cols">
                        <h3 class="text_title">{{ item.title }} {% if app.user %}<a
                                href="{{ path('item_edit', {'id': item.id}) }}"><i class="fas fa-pen text-black-50"></i>
                                </a>{% endif %}</h3>
                        <p class=" text-wrap">{{ item.body|raw }}</p>   {#|slice(0, 500)#}
                    </div>
                {% endfor %}
            </div>
            {% if app.user %}
                <h4 class="text-black-50 text-right"><a href="{{ path('item_new') }}"><i class=" fas fa-plus text-black-50"></i></a> Nieuw!</h4>
            {% endif %}
        </div>
    </section>

    <section id="media" class="py-5">
        <div class="container-fluid">
            <div class="row info-margin m-auto">
                <div class="col-sm-12 col-lg-11  mx-auto">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            {% if reads[1] is defined %}
                                <h4 class="text_title">{{ reads[1].title }} {% if app.user %}<a
                                        href="{{ path('read_edit', {'id': reads[1].id}) }}"><i
                                                    class="fas fa-pen text-black-50"></i>
                                        </a>{% endif %}</h4>
                                <p>{{ reads[1].body | raw }}</p>
                            {% else %}
                                <h4 class="text_title">Media {% if app.user %}<a href="{{ path('read_new') }}"><i
                                                class="fas fa-plus"></i></a>{% endif %}</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                    nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                    justo. Nullam dictum felis eu pede mollis pretium.</p>
                            {% endif %}
                            <ul class="p-0 pt-2">
                                <li data-aos="fade-right" data-aos-duration="400">
                                    <a class="media_list" href="https://twitter.com/CampusGouda">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li data-aos="fade-right" data-aos-duration="300">
                                    <a class="media_list" href="https://www.linkedin.com/company/campus-gouda">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-lg-6 text-center">
                            <img class="svg" src="/img/backpack-business-co-working-2566581.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-11 mx-auto text-center">
                    {% if reads[2] is defined %}
                        <h2 class=" text_title">{{ reads[2].title }} {% if app.user %}<a
                                href="{{ path('read_edit', {'id': reads[2].id}) }}"><i
                                            class="fas fa-pen text-black-50"></i>
                                </a>{% endif %}</h2>
                        <div class="row">
                            <div class="col-sm-12 col-lg-8 mx-auto">
                                <p>{{ reads[2].body | raw }}</p>
                            </div>

                        </div>
                    {% else %}
                        <h2 class=" text_title">Sponsors {% if app.user %}<a href="{{ path('read_new') }}"><i
                                        class="fas fa-plus"></i></a></i>{% endif %}</h2>
                        <div class="row">
                            <div class="col-sm-12 col-lg-8 mx-auto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                            </div>

                        </div>
                    {% endif %}
                    <ul class="slider img-thumbnail">
                        {% for file in array_files %}
                            <li><img src="/img/sponsors/{{ file }}" alt="" style="height: auto;"
                                     class="align-content-center"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container pt-4">
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <h3 class="text_title">Contact</h3>
                    {% for message in app.flashes('success') %}
                        <div class="flash-notice alert-success text-center">
                            <h2 class="text-success">{{ message }}</h2>
                        </div>
                    {% endfor %}
                    <p>Wilt u meer informatie over Campus Gouda, vult u onderstaand formulier in en wij nemen zo snel mogelijk contact met u op.</p>
                </div>
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Verstuur" class="btn btn-lg btn-outline-green mb-4">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
{% endblock %}
