{% extends 'base.html.twig' %}

{% block title %}Beoordeling index{% endblock %}

{% block body %}
    <h1>Beoordeling index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Beschrijving</th>
                <th>StarRating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beoordeling in beoordelings %}
            <tr>
                <td>{{ beoordeling.id }}</td>
                <td>{{ beoordeling.beschrijving }}</td>
                <td>{{ beoordeling.starRating }}</td>
                <td>
                    <a href="{{ path('beoordeling_show', {'id': beoordeling.id}) }}">show</a>
                    <a href="{{ path('beoordeling_edit', {'id': beoordeling.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('beoordeling_new') }}">Create new</a>
{% endblock %}
