{% extends 'base.html.twig' %}

{% block title %}Beoordeling{% endblock %}

{% block body %}
    <h1>Beoordeling</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beoordeling.id }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ beoordeling.beschrijving }}</td>
            </tr>
            <tr>
                <th>StarRating</th>
                <td>{{ beoordeling.starRating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('beoordeling_index') }}">back to list</a>

    <a href="{{ path('beoordeling_edit', {'id': beoordeling.id}) }}">edit</a>

    {{ include('beoordeling/_delete_form.html.twig') }}
{% endblock %}
