<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content=" Campus Gouda. Een initiatief van ondernemers, onderwijs en overheid. Wethouders Corine Dijkstra en Thierry van Vugt, voorzitter van het College van Bestuur van mboRijnland Otto Jelsma en CEO van Conscia, Marcel Cappetti leggen u uit waarom zij enthousiast worden van Campus Gouda.">
    {% block meta %}

    {% endblock %}
    <title>{% block title %}{% endblock %} - Campus Gouda</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    {% block stylesheets %}


    {% endblock %}

</head>
<body data-spy="scroll" data-offset="99">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">
        <img src="/img/CG_Logo.png" width="75" height="75" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}#blog">Nieuws</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}#overgouda">Over Campus Gouda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}#media">Partners</a>
            </li>
        </ul>
        <div class="ml-lg-5">
            <a href="#contact" class="btn btn-green" role="button">Contact</a>
        </div>
    </div>
</nav>

<div class="content">
    {% block body %}


    {% endblock %}
</div>

<footer>
    <div class="footer py-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4 hr-right">
                    <h5 class="f-header">Campus Gouda</h5>
                    <hr class="hr-line">
                    <p>Klaar voor de toekomst. Klaargestoomd voor een baan. Bedrijven, onderwijs en overheid uit regio
                        Midden-Holland slaan de handen ineen om onderwijs en arbeidsmarkt bij elkaar te brengen, in een
                        duurzame en innovatieve omgeving. Dat is Campus Gouda.</p>
                </div>
                <div class="col-sm-12 col-lg-4 pl-4 hr-right">
                    <h6 class="f-header2">Navigatie</h6>
                    <hr class="hr-line">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#media">Partners</a></li>
                        <li><a href="#blog">Nieuws</a></li>
                        <li><a href="#overgouda">Over Campus Gouda</a></li>
                        <li><a href="{{ path('privacy_statement') }}">Privacy statement</a></li>
                        <li><a href="{{ path('terms_service') }}">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4 pl-4">
                    <h6 class="f-header2">Nieuwsbrief</h6>
                    <hr class="hr-line">
                    <p>Blijf op de hoogte en schrijf je in voor de nieuwsbrief van Campus Gouda:
                        {% for message in app.flashes('notice') %}
                    <div class="flash-notice alert-success text-center">
                        <h3 class="text-success">{{ message }}</h3>
                    </div>
                    {% endfor %}

                    {% if lform is defined %}
                        {{ form_start(lform) }}
                        {{ form_widget(lform) }}
                        <input type="submit" value="Verstuur" class="btn btn-lg btn-outline-green mb-4">
                        {{ form_end(lform) }}
                    {% else %}
                        <a href="{{ path('home') }}">home</a>
                    {% endif %}
                    </p>
                    <ul class="d-flex">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center pt-3 pb-1 bg-dark">
        <hr class="hr-credits">
        <p> Build by: Studenten van <a href="https://www.mborijnland.nl" target="_blank" class="text-success">mboRijnland</a>
        </p>
    </div>
</footer>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}

{% endblock %}

</body>
</html>
